/*
Theme Name: Enfold-child
Description: <strong>A superflexible and responsive Business Theme by Kriesi</strong> - <br/> Update notifications available on twitter, facebook and via newsletter:<br/> <a href='http://twitter.com/kriesi'>Follow me on twitter</a><br/> - <a href='http://www.facebook.com/pages/Kriesi/333648177216'>Join the Facebook Group</a> - <a href='http://www.kriesi.at/newsletter'>Subscribe to our Newsletter</a>
Version: 4.0.2
Author: Kriesi
Author URI: http://www.kriesi.at
License: Themeforest Split Licence
License URI: -
Theme URI: www.kriesi.at/themes/enfold/
Template:     enfold
Text Domain:	enfold-child
*/



/* This file is missing the template to be used as a child theme, 
DON'T use this

*/

/* FONTS */

a {
font-weight:700;
}

#footer a {
font-weight:400;
font-size:12px;
}

.rpwe-thumb {
border: none !important;
}

.rpwe-block li {
border-bottom: 0px solid !important;
}

.rpwe-summary {
line-height:18px;
}

.avia_textblock ul {
  list-style: none outside;
  margin-left: 7px;
  list-style-type: square;
  margin: 40px 0 40px 20px;
}

.entry-content-wrapper ol {
  margin: 40px 0 40px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: lato, sans-serif;
  font-weight: 600; 
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 24px;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 24px;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 24px;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 24px;
}

h6 {
    font-size: 1.1vw;
    margin-bottom: 8px;
}

#top .flex_column .template-blog .post-title  {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

/* ALLGEMEIN */

body {
 font-family: lato, sans-serif;
 font-weight:100;
}

.image-overlay .image-overlay-inside {
    display: none !important;
}

.avia-section-large .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.avia_textblock {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_wrap {
  border-top-width:0px
}


/* NAVIGATION */

.av-main-nav > li > a {
  font-weight:300;
  font-size: 20px;
  text-transform: uppercase;
}

.small-preview, .avia-post-nav .entry-info-wrap, .avia-post-nav, .avia-menu-fx, .team-social, .button, .related-format-icon, .avia-slideshow-controls a, #top .social_bookmarks li a, .fallback-post-type-icon, #scroll-top-link, #advanced_menu_toggle, #advanced_menu_hide, .avia-slideshow-button {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* FOOTER */

@media all and (max-width: 920px) {
#footer {  
  display:none;
}
}

#footer {  
  margin-top: 0px;
}

#footer .widgettitle {  
  font-size:0.8em;
}

.footer_color p {  
  line-height:1em;
}

#top #footer .widget ul {
  float: none;
  font-size: 0.7em;
  line-height: 1em;
}

/* HOMEPAGE */

.template-page .entry-content-wrapper h1, .template-page .entry-content-wrapper h2 {
  text-transform: none;
  letter-spacing: 0px;
}

/* BLOG */

#top .flex_column .template-blog .post-title {
  font-size: 17px;
  font-weight: 600;
}

.image-overlay {
  background: transparent !important;
}
